body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#434f62, #373f4c);
}

.circles .circle-1, .circle-2 {
  width: 200px;
  top: 10%;
  left: 30%;
  height: 200px;
  position: absolute;
  background: #fff;
  background: radial-gradient(#425b8889, #232c3b78);
  border-radius: 50%;
}

.circles .circle-2 {
  width: 300px;
  height: 300px;
  left: 60%;
  top: 35%;
}


.container-1 {
  background: #25252555;
  transform: skew(2deg) skewY(-2deg) rotate(5deg) translateY(90px) translate(40px);
  box-shadow: inset inset #2f3543 3px 1px 200px 20px, #54607c 11px 10px 20px 11px;
  border-radius: 10px;
  width: 375px;
  height: 204px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #fff;
  font-family: AFCarplates;
  position: absolute;
  top: 50px;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  transition: 0.8s ease-out;
}

.container-1:hover {
  transform: scale(1.5) translateY(100px);
  background: #25252588;
}

.card-logo {
  text-align: end;
}

.card-logo img {
  width: 75px;
  transform: translate(-20px);
}

.card-chip {
  width: 75px;
  height: 50px;
  border-radius: 8px;
}

.card-chip img {
  width: 90px;
  height: 70px;
  opacity: 0.7;
  transform: translateY(-15px) translate(6px);
}

.card-number {
  font-size: 22px;
  text-align: center;
  word-spacing: 15px;
  letter-spacing: 3px;
}

.card-date-container-1 {
  text-align: end;
}

.card-date {
  text-align: end;
  transform: translate(-30px);
  font-family: Poppins;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;

}

.card-valid {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-date .fa-sharp {
  font-size: 10px;
  transform: rotate(90deg);
  margin: 0 10px 0 5px;
}

.card-name {
  text-transform: uppercase;
  transform: translate(25px);
}

.container-2 {
  background: #25252555;
  transform: skew(2deg) skewY(-2deg) rotate(-5deg) translateY(100px);
  box-shadow: inset inset #2f3543 3px 1px 200px 20px, #54607c 11px 10px 20px 11px;
  border-radius: 10px;
  width: 375px;
  height: 204px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #fff;
  font-family: AFCarplates;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  transition: 0.8s ease-out;
}

.container-2:hover {
  transform: scale(1.5) translateY(100px);
  background: #25252588;
  z-index: 99;
}

.container-2:hover .container-1 {
  display: none;
}

.card-black-strip {
  width: calc(100% + 50px);
  transform: translate(-25px);
  min-height: 60px;
  background: linear-gradient(270deg, #1d1e1b, #070707);
}

.card-cvv-strip {
  width: calc(100%);
  min-height: 40px;
  background: #cad5eb;
  display: flex;
  align-items: center;
  justify-content: end;
}

.card-cvv {
  color: #222;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin-right: 20px;
}

.card-txt1, .card-txt2, .card-txt3 {
  font-size: 8px;
  font-family: poppins;
  font-weight: 200;
  margin: 5px 10px;
}

.card-txt3 {
  text-align: center;
  margin-top: 20px;
}